.content-image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-image: url("../../assets/background-top.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;

  margin-top: 150px;
}
.carousel.carousel-slider .control-arrow:hover {
  background: none;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow  {
  background: none;
}
.control-dots {
  display: none;
}
.carousel-status {
  display: none;
}
@media (max-width: 768px) {
  .content-image {
    margin-top: 60px;
  }
}

.legend {
  display: none;
}
