.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 80px 0;
  width: 100%;
  height: 75vh;

  background-color: blanchedalmond;

  color: olive;
}
@media (max-width: 768px) {
  .aboutContainer {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .TextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 600px;
    text-align: center;

    margin: 0;
    padding: 0;
  }
  br {
    display: none;
  }
  .titleWrapper h2 {
    margin-top: 60px;
    margin-bottom: -60px;
    text-align: center;
  }
  .wrapperContentText {
    text-align: center;
    margin-top: 20px;
    padding: 0;
    max-width: 350px;
    display: flex;
    justify-content: center;
  }
  .wrapperContentImg img {
    max-width: 100%;
  }
}

.titleWrapper {
  margin-top: -50px;
  margin-bottom: -40px;
  text-align: start;
}

.wrapperContentImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperContentText {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  font-size: 20px;
}

.textWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0 10px;
}

.wrapperContentText span {
  text-align: auto;
  word-break: break-word;
}


@media (min-width: 780px) {
  .titleWrapper {
    text-align: center;

    margin-top: -120px;
    margin-bottom: 20px;
  }

  .TextContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 0 40px;
  }

  .wrapperContentImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 40px;
  }
 
.wrapperContentImg img {
  width: 550px;
  height: 400px;
}
}
